@charset "utf-8";
@import url(./reset.css);

/* utility */
/* 스크린리더에서만 보이는 영역, UI에서는 보이지 않는 영역 지정*/
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* 한줄 말줄임 */
.sl-ellipsis {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 두줄 말줄임 */
.multi-ellipsis {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* 스킵 네비게이션 */
.nav-skip a {
	position: absolute;
	top: -200px;
	left: 0;
	width: 160px;
	line-height: 30px;
	border: 1px solid #fff;
	color: #fff;
	background: #333;
	text-align: center;
}

.nav-skip a:active,
.nav-skip a:focus {
	top: 0;
}

/* 컨테이너 스타일 */
.container-movie {
	width: 1115px;
	margin: 86px auto 0;
	padding: 0 27px 29px;
	border: 2px solid #bdbdbd;
	border-radius: 15px;
	background: #f2f2f2;
}

.container-title {
	font-size: 24px;
	text-align: center;
	line-height: 28px;
	padding: 38px 0;
}

/* 네비게이션 스타일 */
.nav-movie {
	text-align: center;
}

.nav-movie::before {
	display: block;
	content: '';
	width: 70%;
	height: 2px;
	background: #bdbdbd;
	margin: 0 auto;
}

.nav-movie-list {
	display: inline-block;
	margin: 27px auto;
}

.nav-movie-list li {
	float: left;
}

.nav-movie-list li + li {
	margin-left: 30px;
}

.nav-link {
	color: #828282;
}

.on .nav-link {
	color: #000;
	font-weight: bold;
}

/* 컨텐츠 스타일 */
.movie-list {
	overflow: hidden;
	padding: 0 12px 24px 12px;
	border: 2px solid #bdbdbd;
	border-radius: 15px;
	background: #fff;
}

.movie-link {
	display: block;
	margin-bottom: 11px;
}

.movie-list article {
	padding: 19px 19px 0 19px;
}

.movie-list li {
	overflow: hidden;
	float: left;
	border: 1px solid #bdbdbd;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	margin: 24px;
}

.movie-link img {
	width: 180px;
	height: 250px;
	border-radius: 10px;
}

.movie-title {
	font-weight: bold;
	line-height: 23px;
}

.movie-info {
	margin-top: 12px;
}

.movie-info div {
	display: block;
	margin-bottom: 5px;
}

.movie-info dt {
	display: block;
	font-size: 13px;
	line-height: 1.2;
	font-weight: lighter;
	color: #828282;
	float: left;
	margin-right: 5px;
}

.movie-info dd {
	display: inline-block;
	font-size: 13px;
	vertical-align: top;
}

.movie-grade {
	float: right;
}

.movie-grade dt::after {
	display: inline-block;
	content: '';
	width: 14px;
	height: 13px;
	margin-left: 5px;
	background: url(../../public/images/별점이미지.png);
	vertical-align: top;
}

.movie-info .multi-ellipsis {
	width: 140px;
	height: 27px;
	float: left;
	display: -webkit-box;
}

.movie-list li > a {
	display: inline-block;
	width: 50%;
	text-align: center;
	height: 41px;
	line-height: 41px;
	background: #f2f2f2;
	border-top: 1px solid #bdbdbd;
}

.movie-reserv-link::after {
	display: block;
	content: '';
	width: 1px;
	height: 100%;
	float: right;
	background: #bdbdbd;
}

.movie-preview-link::before {
	display: inline-block;
	content: '';
	background-image: url('../../public/images/아이콘_재생.png');
	background-size: 16px;
	width: 16px;
	height: 16px;
	margin: 13px 2px 0 0;
	vertical-align: top;
}

/* 푸터 스타일 */
.container-company {
	background: #f2f2f2;
	margin-top: 135px;
}

.container-info {
	position: relative;
	margin: 0 auto;
	width: 1189px;
	overflow: hidden;
}

.title-company {
	display: block;
	font-size: 22px;
	height: 118px;
	line-height: 118px;
	border-bottom: 2px solid #c4c4c4;
	font-weight: 700;
}

.list-company-info {
	float: left;
	margin: 38px 0;
}

.list-company-info dt,
.list-company-info dd {
	float: left;
}

.list-company-info dt {
	font-weight: 700;
	margin-right: 5px;
}

.list-company-info dd {
	font-weight: 400;
}

.list-company-info dd:not(:last-child)::after {
	display: inline-block;
	content: '';
	width: 1px;
	height: 12px;
	margin: 0 7px;
	background: #000;
}

.list-sns {
	position: absolute;
	overflow: hidden;
	top: 50px;
	right: 0;
}

.list-sns li {
	float: left;
	margin-left: 22px;
}

.list-sns a[class^='link'] {
	display: inline-block;
	width: 24px;
	height: 24px;
	font-size: 1px;
	text-indent: -9999px;
	overflow: hidden;
	background-size: 24px;
}

.link-twitter {
	background-image: url(../../public/images/twitter.png);
}

.link-insta {
	background: url(../../public/images/instagram.png);
}

.link-facebook {
	background: url(../../public/images/facebook.png);
}

.text-copy {
	float: right;
	margin-top: 38px;
}
